In [1]:
          #!! ARITHMETIC & NUMERIC TYPES !! 

#1) Inteğer * float type yaptığımız için sonuç float tipinde gelecektir
3*3.5

10.5

In [2]:
7.0/5

1.4

In [36]:
#2) BÖLÜM HESAPLAMA: // kullanınca, bölüm kısmını elde ederiz
7//5

1

In [4]:
#KALANI HESAPLAMA: % remainder kullanınca kalanı elde ederiz
7%5

2

In [35]:
#3) İşlem Önceliği
-5**2

-25

In [7]:
(-5)**2

25

In [8]:
                  # !! VARIABLES !!
#1) = kullanarak değişkenlere değer atayabiliriz.

length=15
width=3*5

length*width

225

In [34]:
#2) Python'da tanımsız bir değişken kullanınca, hata alırız"

n

NameError: name 'n' is not defined

In [12]:
tax = 11.3/100
price = 19.95
price*tax

2.25435

In [13]:
#3) round fonksiyonu
#Floating veri türünü 2 ya da daha az ondalık ile belirtmek için

round(price*tax)

2

In [14]:
#4) Tek bir satırda birden fazla değişken tanımlayabiliriz

a,b,c = 3.2,1,6
a,b,c

(3.2, 1, 6)

In [15]:
                    # !! EXPRESSIONS !!
#1) Kıyaslamak için herhangi bir kısıtlama yok

a,b,c = 1,2,3
a<b<c

True

In [16]:
#2) Karşılaştırma için built-in fonksiyonları da kullanabiliriz

min(3,2.4,5)

2.4

In [17]:
max(3,2.4,5)

5

In [18]:
# 3) Karşılaştırma ifadelerini birleşik formatta.AND / OR / NOT

1<2 and 2<3

True

In [21]:
1<2 or 1>2

True

In [22]:
not(2<3)

False

In [23]:
                    # !! STRING BASICS !!
# Gösterim için ('') ya da ("") kullanılır. 

'Hi guyzz :)'

'Hi guyzz :)'

In [26]:
#1) kesme ve tırnak işareti karışabilir
#Kesme işareti için backslash ('') kullanılır

"doesn't"

"doesn't"

In [33]:
#2) String ifadeleri birleştirmek

'Py' 'thon'

'Python'

###

In [38]:
#3) String ve değişken birleştirmek için + kullanılır

a = 'Py'
a + 'thon'

'Python'

In [1]:
                    # !! STRING INDEXING !!
#1) String ifadeler için indexleme kullanabiliriz.
word = 'Python'
word [0]  #Dizinin ilk karakterinin indexi 0.

'P'

In [2]:
word [5]

'n'

In [3]:
# !NOT: İndex negatif bir sayı da olabilir.
# Bu durumda index hesaplaması için, karakterleri saymaya sondan başlarız.

#Örn: Önceki örnekter kelimenin son harfi 'n'. Bunu farklı bi şekilde nasıl
#elde ederiz

word[-1]

'n'

In [4]:
# !! Saymaya sondan başladığımız için index kısmına 
#'-2' yazmamız sondan ikinci karakteri istediğimizi gösterir

word[-2]

'o'

In [5]:
#2) Ek olarak, string ifadenin belirli bir kısmını da elde edebiliriz.
    #Bunun için yapmamız gereken başlangıç ve bitişi olan bir aralık belirtm
    # !!! Burda dikkat edilmesi gereken nokta:
    # Başlangıç değeri böleceğimiz ifadeye dahil edilirken, 
    # bitiş değeri dahil edilmez. Önceki örnek üzerinden ilerleyelim
word[0:2] # 0.karakter(included) 2.karakter(excluded)

'Py'

In [6]:
word[2:5] #2.karakter(included) 5.karakter(excluded)

'tho'

In [7]:
                    # !! LISTS !!
# Veri türlerinden biri de listeler. 
# 1) Listeyi, virgülle ayrılmış değerler ya da köşeli parantez içindeki ögeler
  # olarak düşünebiliriz.
squares = [1,4,9,16,25]
squares

[1, 4, 9, 16, 25]

In [8]:
# 2) Liste için de karakter bulma (indexing) yapmak mümkün
squares[0]

1

In [9]:
#3) Listede belirli bir aralığı ayırdığımız zaman, yeni bir
  #liste oluşturmuş oluruz
squares = [1,4,9,16,25]
squares[-3:] #sondan 3.karakter:9. 9 ve sonraki karakterleri içeren yeni lis

[9, 16, 25]

In [13]:
# 4) Stringlerde yaptığımız gibi listeleri de birleştirebiliriz
squares = [1,4,9,16,25]
squares +[36,49,64]

[1, 4, 9, 16, 25, 36, 49, 64]

In [2]:
                    # !! TUPPLES !!
#Python'da başka bir veri türü de tuples (demet) 
#Bu veri türü, değişmeyen bir veri türüdür. İçerisindeki ögeleri değiştirmey
 #denediğimizde hata ile karşılaşırız
# Liste veri türüne benzer , farklı olarak () ile gösterilir.

t = (1,2,3)
t

(1, 2, 3)

In [3]:
# t içerisinde değişiklik yapmayı deneyelim
t[1] = 2.0

TypeError: 'tuple' object does not support item assignment

In [4]:
# 1) Tupple içerisindeki ögeleri bölmek mümkün.
# Önceki örnekte sadece 1 ve 2 yi yazdıralım

t[:2]

(1, 2)

In [1]:
# 2) Bir listeden tupple oluşturabilliriz. Şu şekilde
l = ['a','b','c'] # 'l' liste formatında
l = tuple(l)
l

('a', 'b', 'c')

In [8]:
# 3) Benzer şekilde bir tupple'dan liste oluşturmak da mümkün.
# Önceki örnekte l'yi tekrar liste yapalım:
l = list(l)
l

['a', 'b', 'c']

In [9]:
# 4) Aynı zamanda yazdığımız kod içerisinde verilerin listeye ya da tupple'a
  #dahil olduğunu da kontrol edebiliriz
tup = ('a','b','c')
'b' in tup

True

In [10]:
#Benzer şekilde verinin listeye ya da tupple'a dahil olmadığına bakmak 
#da mümkün.
#Bunun için not in kullanmak yeterli olacaktır
lis = ['a','b','c']
'a' not in lis

False

In [11]:
                    # !! DICTIONARIES !!
#Dictionary yapıları anahtarlar(unique keys) ve değerler(values) arasında
 #eleştirme yapabilmemizi sağlar. () içerisinde anahtar-değer çifti 
 #listeleyerek dictionary oluşturabiliriz. Dictionary adı da {} içerisinde
capitals = {'France': ('Paris',2140526)}
capitals

{'France': ('Paris', 2140526)}

In [12]:
# 1)!!!! Dictionary anahtarları değişmez veri türünde olmalıdır.
 #String,sayı,tupple gibi
 # Örn: Liste değişken olduğu için dictionary anahtarı olamaz.
# 2) Dictionaryde ekleme yapabilmek mümkün.Önceki örneğe ekleme yapalım
 #Anahtar : Nigeria olsun. Değer de farklı bir sayı olsun
capitals['Nigeria'] = ('Lagos', 6048430)
capitals

{'France': ('Paris', 2140526), 'Nigeria': ('Lagos', 6048430)}

In [16]:
                    # !! LIST COMPREHENSION !!
#List comprehension mantığına bakalım.
#Bu mantık temel oalrak algoritmik bir liste oluşturmaya dayanır.
#Python'da sıklıkla kullanılır çünkü, listelerin oluşturulmasında hızlı bir
 #alternatif sağlar.
    
# 1)ÖRn olaraak: sadece 1den 11e kadr olan sayılarn listesini oluşturmak
 #istedik. Tek tek yazmak yerine burda list comprehension mantığnı
 #kullanabiliriz

numbers = [x for x in range(1,11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
# 2)List comprehensionda mantıksal test yapabilmek de mümkün
# ÖRn:Önceki örnekte x'in 2ye bölümünden kalan 0 değilse, o x değerinin
 #karesini yazdıran bi örnek yapalım

odd_squares = [x*x for x in range(1,11) if x%2 != 0]
odd_squares

[1, 9, 25, 49, 81]

In [18]:
                    # !! IMPORTING MODULES !!
# 1)Python'da tanımların yerleştirildiği dosyalara 'Python module' denir.
# 2)Örn: 'factorial()' fonksiyony yerleşik olarak bulunan standard fonk 
 #değil.
 # Matematik modülünün bir parçası.!!! Bu yüzden, matematik modülünü import
 # etmeden önce factorial() fonksiyonunu çalıştırırsak hata alırız

factorial(5)

NameError: name 'factorial' is not defined

In [19]:
import math
math.factorial(5)

120

In [20]:
# 3)Bu örneği şu şekilde de yazdırabiliriz
from math import factorial
factorial(5)

120

In [ ]:
#!!!! Modülün ismini ilk olarak 'from math' şeklinde belirttiğimiz için
 # faktöriyel hesabında tekrardan matematik modülünün ismini belirtmemize
 # gerek kalmadı.